@import "tailwindcss";



*{
  color: #fff;
}
body{
  background: #111;
  
}

#tasklist {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

#tasklist::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

/* Ensure form elements can have a white background */
input, textarea {
  background-color: transparent;

}